@import "modules/all";

html {
  height: 100%;
}

body {
  font-family: 'Open Sans';
  color: white;
  min-height: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 150px; 
  @include radial-gradient(#2b1339, #380c77);
}

body.landing {
  background: $background-purple;
  margin: 0;
  padding: 0; 

  .navbar {
    margin-bottom: 0;
  }
}

/* medium-purple: #7B46A3 - 123, 70, 163 */

.player-header-nav {
  background-color: rgba(123, 70, 163, .9);
}

