/* variable that holds the purple color we've used a couple times throughout our application */
$background-purple: #5B5579;

$base-font-size: 16px;
$lighter-font-weight: 300;

$hot-pink: #D2287B;

// FORM VARIABLES
$default-input-color: #0A032B;

// BUTTON VARIABLES
$default-btn-bg: #D2287B;
$default-btn-hover-bg: #9B1D64;
$default-btn-disabled-bg: #B3B3B3;